{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

    <div class="jumbotron homepageHeader">
        {% include 'partials/navbar.html.twig' %}
    </div>

    <div class="container mt-5">
        <h1 class="text-uppercase">Latest Projects</h1>
        <div class="row">
            <div id=" "></div>
        </div>
    <div class="row">
            {% for project in activeProjects %}
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ asset('build/images/card-header.jpg') }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">{{ project.description }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere Else</a>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>

    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-outline-dark">See all projects</button>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h1 class="text-uppercase">How it works</h1>
        <div class="row">
            <div class="col-sm">
                <p class="text-justify">
                    Post a job to get noticed by gardeners near you
                </p>
            </div>


            <div class="col-sm">
                <p class="text-justify">
                    Post a job to get noticed by gardeners near you
                </p>
            </div>


            <div class="col-sm">
                <p class="text-justify">
                    Post a job to get noticed by gardeners near you
                </p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}
