{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    {% include 'partials/navbar.html.twig' %}
    <div class="container-fluid">
        <div class="card-deck">
            {% for project in projects %}
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        {{ project.getTitle }}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ project.getOwner }}</li>
                        <li class="list-group-item">{{ project.getFirstCreated | date('Y:m:d') }}</li>
                        <li class="list-group-item">{{ project.getDescription }}</li>
                        <li class="list-group-item">{{ project.getValue }}</li>
                    </ul>
                    <a class="btn btn-info" href="{{ path('project_show_by_id', {'id': project.getId }) }}"
                       role="button">Go to project</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}